---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Our variables
$base-font-family: 'Cronos Pro', sans-serif;
$base-font-size:   1.2rem;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$large-font-size:  $base-font-size * 1.475;
$base-line-height: 1.4;

$spacing-unit:      1rem;
$base-padding:      2rem;
$dubbel-padding:    4rem;

$text-color:        #b1b1b1;
$background-color:  #000000;
$link-color:        #ffffff;
$light-color:       #fcfaf8;
$dark-color:        #131314;
$blue-color:        #96c1ff;
$blue-color-dark:   #6e99d4;
$beige:             #e0c09f;
$green: rgba(0, 161, 75, 0.6);
$brown: rgba(140, 113, 93, 0.7);
$blue: rgba(110, 153, 212, 0.85);
$grey: rgba(39, 39, 39, 0.65);
$pink: rgba(246, 173, 205, 0.7);
$purple: rgba(124, 119, 173, 0.81);
$cherry: rgba(209, 31, 92, 0.56);
$orange: rgba(241, 90, 41, 0.6);
$light-orange:      #fcbb76;
$yellow: rgba(255, 203, 5, 0.8);
$red: rgba(237, 28, 36, 0.75);
$lightblue:         #90d7ec;
$light-transparent: rgba(252, 250, 248, 0.71);


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }


$mobile: 600px;
$tablet: 800px;
$laptop: 1340px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "layout"
;

