---
layout: default_fi
type: extra
title: Hyvä tietää
ref: good-to-know
id: hyvatietaa
---

<section class="dubbelpadding sloganbox" id="sloganbox">
	<h1 class="slogan text-center">Hyvä tietää</h1>
</section>
<nav>
	<ul class="ingredienslista nobullets padding">
		<li><a href="/fi/body#bodybutters">Body Butters</a></li>
		<li><a href="#konserveringsmedel">Ilman säilöntä&shy;aineita</a></li>
		<li><a href="#emulgeringsmedel">Ilman emulgointiaineita</a></li>
		<li><a href="/fi/face#phytoboosters">Fytoaromaattiset öljyt</a></li>
		<li><a href="/fi/hair#shampoobar">Shampoopalat</a></li>
		<li><a href="#vaxtextrakt">Kasviuutteet</a></li>
		<li><a href="#musliiniliina">Musliiniliina</a></li>
		<li><a href="#drlottahardman">Kuka on FT Lotta Hardman</a></li>
	</ul>
</nav>
<article class="padding grey">
	<span id="bodybutters"></span>
	<h2 class="h1">BODY BUTTERS</h2>
	<hr class="primary" />
	<p>
		Body butterit ovat juuri sitä miltä kuulostavatkin - lähes 100 %:sti
		rasvaa. Dr Hardmanin body butterit sisältävät vain iholle tärkeitä
		ainesosia, ja joskus kasvisuutteita tai eteerisiä öljyjä tuoksuksi.
		Useimmat tuoksut tulevat kuitenkin suoraan pääraaka-aineista kuten
		esimerkiksi kaakaovoista. <br />Koska Dr Hardmanin body butterit eivät
		sisällä kemikaaleja, jotka tasapainottavat tuotteiden koostumusta,
		reagoivat tuotteet herkästi ympäristön lämpötilaan. Vertaa body
		butteria esimerkiksi voihin. Voi sulaa auringonpaisteessa ja kovettuu
		kovaksi jääkaapissa. Samalla tavalla reagoivat Dr Hardmanin body
		butterit.
	</p>

	<a href="/fi/no23-citrus-body-butter"
		><img
			class="img-fluid profilbild spacing-unit"
			src="/img/hardman_no23_citrusbodybutter.jpg"
			alt="DrHardman citrus body butter"
	/></a>

	<p>
		Kaikki Dr Hardmanin body butterit ovat vispattuja. Tämä tekee tuotteen
		koostumuksesta miellyttävän ja helposti levittyvän (huoneenlämpö
		17-22°C). Vispattu body butter sisältää ilmaa, kuten vispattu kermakin,
		ja näin ollen painaa myös huomattavasti vähemmän kuin vispaamaton
		tuote. <br />Koska kaikki Dr Hardmanin tuotteet ovat
		säilöntäaineettomia, myydään tuotteita sellaisilla volyymeilla, että
		niiden arvellaan olevan loppuunkäytetyt (päivittäisessä käytössä) noin
		kahden kuukauden sisällä. <br />Säilytä body butterisi jääkaapissa, jos
		et käytä tuotetta päivittäin. Muista ottaa tuote ajoissa huoneenlämpöön,
		jotta sitä on helppo ja miellyttävä levittää.
	</p>
	<p>
		Jos body butterisi on vahingossa sulanut liian lämpimässä
		kylpyhuoneessa tai autossa, älä huoli! Voit käyttää tuotetta vielä, jos
		ylikuumenemisaika on ollut lyhyt ja jos tuotteen tuoksu on säilynyt
		ennallaan. Jos body butter haisee pahalle, tulee se heittää pois!
	</p>
	<h3 class="h4">DR HARDMANIN BODY BUTTERS</h3>
	<p>
		<a href="/fi/no22-calming-body-butter">No 22 Calming Shea Butter</a>
		<br /><a href="/fi/no23-citrus-body-butter">No 23 Citrus Body Butter</a>
		<br /><a href="/fi/no24-cocoa-body-butter">No 24 Cocoa Body Butter</a>
		<br /><a href="/fi/no25-mango-body-butter">No 25 Mango Body Butter</a>
		<br /><a href="/fi/no26-rose-body-butter">No 26 Rose Body Butter</a> {%
		include upbox_fi.html %}
	</p>

	<p><br /></p>
	<span id="konserveringsmedel"></span>
	<h2 class="h1">Ilman säilöntä&shy;aineita</h2>
	<hr class="primary" />
	<p>
		Päivittäistavarakaupoista ei juurikaan löydy tuotteita, joihin ei olisi
		lisätty säilöntäaineita. Iho-/hiustenhoitotuotteiden takana on ajatus
		siitä, että tuotteiden tulisi periaatteessa säilyä niin kauan kuin sitä
		on jäljellä pakkauksessa. Näin siitäkin huolimatta, että useimmat
		ihovoiteet sisältävät rasvoja ja muita aineksia, joita ei tulisi
		varastoida vuosikausia ennen käyttöä.
	</p>
	<p>
		Kuluttajina olemmekin avainasemassa ja meidän tulisi ottaa aivan uusi
		näkökulma käyttämiimme ihonhoitotuotteisiin. Salvat ja voiteet ovat
		kehosi suurimman elimen, ihosi, ravintoa ja suojaa. Siksi niiden
		tulisikin aina olla tuoreita. <br />Dr Hardmanin ihovoiteet ovat
		tuoreita ja säilöntäaineettomia. Tuotteita tulee käsitellä lähes samalla
		tavalla kuin elintarvikkeita. Suomessa on vielä erittäin harvinaista,
		että lisäaineettomia voiteita ostettaisiin kylmätiskistä. Kuluttajien
		tietoisuus kuitenkin lisääntyy koko ajan ja tämä tulee taatusti pian
		muuttumaan.
	</p>
	<p>
		Kaikilla aineksilla, joita on käytetty Dr Hardmanin tuotteissa, on 1-2
		vuoden säilyvyysaika. Hyvä tuotehygienia ja steriloidut pakkaukset
		takaavat minimi säilyvyysajaksi (ehjät kylmässä säilytetyt pakkaukset)
		5-6 kuukautta. Pakkauksen avaamisen jälkeen on aina olemassa
		pilaantumisen riski = body butter suositellaan käytettäväksi aina 3
		kuukauden sisällä pakkauksen avaamisesta.<br />
		Vertaa tuotteiden säilyvyyttä pikemmin voihin kuin markettien
		perusihonhoitotuotteisiin.<br />Päivittäin käytettynä body butteria ei
		tarvitse säilyttää kylmässä. Tuote kuluu loppuun riittävän nopeasti.
		Tuotteet jotka sisältävät vettä ovat herkempiä kuin ne, joissa on
		99-100 % rasvaa.
	</p>
	<p>
		<b
			>Dr Hardmanin tuotteilla hoidat ihoasi ilman ylimääräistä
			kemikaalikuormitusta.</b
		>
		Säilöntäaineet ja stabilointiaineet eivät normaalisti ole vaarallisia
		ihollesi, mutta niiden joukosta löytyy myös monia kiisteltyjä aineksia
		ja lieviä allergeenejä. Dr Hardmanin filosofia perustuu siihen, että
		ihollasi, suurimmalla elimelläsi, on yhtä suuri oikeus tuoreeseen ja
		ekologiseen ravintoon kuin vatsallasi ja suolistollasi!
	</p>
	<p>
		On kuitenkin olemassa ainesosia, joita ei yksinkertaisesti saa ilman
		säilöntäaineita. Katso alla oleva luku
		<a href="#vaxtextrakt">kasviuutteista</a>.
	</p>
	{% include upbox_fi.html %}
	<p><br /></p>
	<span id="emulgeringsmedel"></span>
	<h2 class="h1">Ilman emulgointiaineita</h2>
	<hr class="primary" />
	<p>
		Emulgointi- ja stabilointiaineet ovat kemikaaleja, jotka pitävät
		voiteen vesi- ja rasvafaasin koossa sekä antavat tuotteelle vakaan
		koostumuksen eri lämpötiloissa. <br />Dr Hardmanin tuotteet sisältävät
		hyvin vähän tai ei lainkaan vettä. Tästä syystä emulgointiaineiden
		tarve on vähäinen. <br />Melkein kaikki vähittäiskaupan kosteusvoiteet
		sisältävät vettä yli 50 %. Tästä esimerkistä on helppo ymmärtää
		emulgointiaineen tarpeellisuus.
	</p>
	<p>
		Dr Hardmanin tuotteissa ei käytetä lainkaan emulgointiaineita tai
		stabilointiaineita, joista ihosi ei hyödy. Kaikki meidän voiteet ovat
		hyvin ravinnetiheitä verrattuna vähittäiskaupan vastaaviin tuotteisiin.
		Meiltä saat ainoastaan aktiivisia ainesosia sekä sen pienen määrän
		vettä, jota ihosi tarvitsee. <br />Käytä siis Dr Hardmanin voiteita
		säästeliäästi!
	</p>
	{% include upbox_fi.html %}
	<p><br /></p>
	<span id="phytoboosters"></span>
	<h2 class="h1">Fyto&shy;aromaattiset öljyt</h2>
	<hr class="primary" />
	<p>
		Dr Hardmanin fytoaromaattiset öljyt eivät ole mitä tahansa kasvoöljyjä
		vaan tiivistettyä öljyseerumia. Kasvoöljyt ravitsevat ihoa samalla
		ehkäisten iho-ongelmia. Dr Hardmanin seerumi on kasviöljyjen ja
		orgaanisten korkealaatuisten kasviuutteiden yhdistelmä. Seerumi antaa
		iholle vahvan annoksen ravintoaineita sekä vitamiineja ja tuoksu on
		taivaallisen ihana!
	</p>

	<a href="/fi/no31-youthfulglow-face-oil"
		><img
			class="img-fluid profilbild spacing-unit"
			src="/img/hardman_faceoils.jpg"
			alt="DrHardmanin kasvoöljyt"
	/></a>

	<h3>Fytoaromaattisille öljyille löytyy monta eri käyttötapaa:</h3>

	<h4>Tehokkaana ihovoiteena</h4>
	<p>
		Kasvoöljyjä voi käyttää suoraan iholle, kasvoille tai kaulalle aivan
		kuten tavallisia ihovoiteita. Kevyen ja silkinpehmeän ominaisuutensa
		ansiosta imeytyvät ne nopeasti ihoon ja jättävät ihon ihanan pehmeäksi
		ja joustavaksi.
	</p>
	<h4>Jonkun toisen tuotteen vitamiini-boostina</h4>
	<p>
		Dr Hardmanin kasvoöljyt ovat erittäin vitamiini- ja ravinnepitoisia.
		Öljyt sopivat hyvin käytettäväksi yhdessä lähes kaikkien naamioiden,
		voiteiden ja emulsioiden kanssa täydentämään ja parantamaan niiden
		ominaisuuksia. Kasvoöljyjen miellyttävää tuoksua voi myös hyödyntää
		aromaterapiana sekoittamalla öljyä hajusteettomiin tuotteisiin.
	</p>
	<h4>Kasvohierontaöljynä</h4>
	<p>
		Ravinnepitoiset öljyt, jotka ehkäisevät mm. aknea, sopivat täydellisesti
		käytettäväksi esim. kasvohieronnoissa.
	</p>
	<h4>Meikkivoiteen alle</h4>
	<p>
		Dr Hardmanin kasvoöljyt antavat erinomaisen pohjan meikille, ilman
		silikoneja ja synteettisiä aineksia.
	</p>
	<h4>Ravinnetiheänä seerumina</h4>
	<p>
		Fytoboosterit välittävät vitamiinit ja tärkeät ravinneaineet suoraan
		raaka-aineista ihollesi. Fytoaromaattisia öljyjä voi hyvin käyttää
		erilaisten iho-ongelmien hoidossa tavallisen seerumin tapaan.
	</p>
	<h4>Lempeänä aromaterapiana</h4>
	<p>
		Upeat aromit luonnollisista ja luonnonmukaisista kasviuutteista antavat
		perinteisen aromaterapian hyödyt sekä sopivat myös herkälle
		ihotyypille.
	</p>
	<h4>Dr Hardmanin fytoboosterit</h4>
	<p>
		<a href="/fi/no30-clarified-face-oil">No 30 Clarified</a>
		<br /><a href="/fi/no31-youthfulglow-face-oil">No 31 Youthful Glow</a>
		<br /><a href="/fi/no32-serendipity-face-oil">No 32 Serendipity</a>
	</p>

	{% include upbox_fi.html %}
	<p><br /></p>
	<span id="shampoobar"></span>
	<h2 class="h1">Shampoopala</h2>
	<hr class="primary" />
	<p>
		Shampoopala on ekologinen saippuaan pohjautuva hiustenpesutuote, joka
		on valmistettu luonnonmukaisista kasviöljyistä, yrteistä ja eteerisistä
		öljyistä. Shampoopalat eivät sisällä säilöntäaineita, synteettisiä
		hajusteita, väriaineita, mineraaliöljyjä tai synteettisiä tensidejä,
		kuten SLS (Sodium Lauryl Sulfate) tai SLES (Sodium Laureth Sulfate).
		Shampoopalasta ei synny muovijätettä, koska se myydään palana, ja se on
		helppo ottaa mukaan matkoille (myös lentomatkoille), koska se ei ole
		nestettä.
	</p>
	<p>
		Koska pala pohjautuu saippuaan, se käyttäytyy hieman eri tavalla kuin
		shampoot, jotka sisältävät näitä tensidejä. Saippua on mieto pesevä
		aines, joten se on hellävarainen hiuspohjalle ja monet asiakkaamme
		ovatkin saaneet niistä apua mm. hiuspohjan ongelmiin, kuten
		hilseilyyn ja kutinaan. Saippuapohjainen shampoopala tekee hiukset
		todella kuohkeiksi ja useimmat käyttäjät eivät tarvitse
		muotoilutuotteita ollenkaan. Hiukset ovat silti helposti muotoiltavat.
	</p>
	<p>
		Osa käyttäjistä saattaa kokea, että hiukset jäävät tahmeiksi ja
		raskaiksi palashampoon käytön jälkeen. Älä luovuta! Tahmaisuuden tunne
		häviää muutaman pesukerran jälkeen, kun hiuksesi ovat tottuneet uuteen
		tuotteeseen. Shampoopala on supertuote, jolla on jo tuhansia
		tyytyväisiä käyttäjiä Suomessa. Kokeile ihmeessä sinäkin!
	</p>
	<figure>
		<a href="/fi/no55-shampoobar"
			><img
				class="img-fluid profilbild spacing-unit"
				src="/img/DrHardmans_No55_Shampoo_Bar.png"
				alt="citrus shampoobar"
		/></a>
	</figure>
	<h3>Käytä shampoopalaa näin</h3>
	<p>
		Kastele hiuksesi huolellisesti lämpimällä vedellä (vaahtoa syntyy
		paremmin lämpimässä vedessä), ja kastele hiukan palaa. Hiero palaa
		hiuksiin niin kauan, että vaahtoa on runsaasti joka puolella hiuksia.
		Vaahdota huolella myös niska, etenkin, jos sinulla on pitkät hiukset.
		Lisää tarvittaessa kesken vaahdotuksen hiukan lämmintä vettä hiuksiin,
		jos vaahdotus ei tunnu lähtevän käyntiin. Voit myös tehdä lyhyen
		välihuuhtelun ja vaahdottaa uudelleen tarvittaessa. <br />Kun vaahtoa
		on runsaasti hiuksissa, hiero hiuspohja sormin puhtaaksi. Tämän jälkeen
		huuhtele hiukset lämpimällä vedellä huolellisesti. Pyyhekuivaa ja lisää
		hoitotuote tarvittaessa.
	</p>
	<p>
		Säilytä shampoopalaa samaan tapaan kuin palasaippuoita, eli ilmavalla
		alustalla, josta vesi pääsee valumaan pois.
	</p>

	<h4>Shampoopalan plussat ja miinukset</h4>
	<ul class="plus">
		<li>Ekologinen, biohajoava koostumus</li>
		<li>
			Ei synteettisiä tensidejä, jotka saattavat kuivattaa hiuspohjaa ja
			aiheuttaa ihoärsytystä
		</li>
		<li>Hiuksista tulee kuohkeat ja ilmavat</li>
		<li>Hiukset ovat helpommin muotoiltavat</li>
		<li>Hiuksista tulee taipuisammat</li>
		<li>Jätteen määrä on minimaalinen</li>
		<li>Sopii koko perheelle</li>
		<li>Pala on todella riittoisa, joten se tulee edulliseksi käytössä</li>
		<li>
			Pala on kätevä kuljettaa mukana, se ei paina paljoa ja on kätevä myös
			lentomatkoilla (koska se ei ole neste)
		</li>
		<li>Suomessa valmistettu tuote</li>
	</ul>
	<ul class="minus">
		<li>
			Hiuksiin saattaa tulla tahmeutta alkuun (käytä hiushuuhdetta, joka
			poistaa tahmeutta)
		</li>
		<li>
			Joidenkin käyttäjien on vaikea päästä tahmeudesta eroon (tämä on
			erittäin harvinaista, sillä suurimmalle osalle palat sopivat jo
			ensimmäisestä käyttökerrasta saakka loistavasti)
		</li>
		<li>
			Jos shampoopalaa säilytetään jatkuvasti lämpimässä tai hyvin
			kosteassa tilassa (kuten esim. kesäsauna) palasta voi tulla hyvin
			pehmeä ja lopuksi se saattaa sulaa.
		</li>
		<li>
			Ei sovi kovin hyvin vahvasti värjätyille hiuksille. Väri haalistuu
			nopeammin, ja värjätyt hiukset saattavat tarvita hoitavamman
			shampoon.
		</li>
	</ul>
	<figure>
		<a href="/fi/no55-shampoobar"
			><img
				class="img-fluid profilbild spacing-unit"
				src="/img/hardman_no55_shampoobar.jpg"
				alt="DrHardman shampoobar"
		/></a>
	</figure>
	<h3>Jos shampoopala jättää hiukset tahmaisiksi, miten saan sen toimimaan?</h3>
	<p>
		Kun aloitat shampoopalan käytön, saattaa hiuksesi tuntua tahmaisilta.
		Tämä voi johtua hiuslaadustasi, aikaisemmista käsittelyistä ja
		käyttämistäsi hiustenhoitotuotteista.<br />
		Osalla käyttäjistä tuote toimii erinomaisesti heti ja toiset saattavat
		joutua käyttämään tuotetta useamman kerran ennen kuin se tuntuu
		hyvältä. Käsitellyt hiukset ovat huokoisemmat ja niihin jää helposti
		saippuajäämiä. Tästä johtuen hiukset saattavat tuntua tahmaisilta.
	</p>
	<p>
		Näin taltutat tahmaisuuden tunteen:<br />
		Vaahdota hiukset erittäin huolellisesti, myös hiusten välit, niska ja
		erityisesti latvat. Vaahdotuksessa auttaa, kun teet ensin kevyen
		vaahdotuksen, sitten nopean välihuuhtelun ja vaahdotat uudelleen.
		Lämpimällä vedellä tuote vaahtoaa paremmin kuin kylmällä. Huuhtele
		hiukset huolellisesti lämpimällä vedellä. Pyyhekuivaa kevyesti.
	</p>

	<p>
		Hoida hiukset Dr Hardmanin Aloe Vera Balsam Spraylla tai vaihtoehtoisesti
		omenaviinietikka-vesiseoksella (n. 2 dl vettä ja 20-30 ml
		viinietikkaa). Etikkavesi huuhdellaan pois. Levitä huuhde huolellisesti,
		jotta sitä pääsee hiusten väleihin kunnolla. Tämä auttaa tahmaisuuteen
		nopeasti.<br />
		Voit tehdä huuhtelun vahvempana seoksena kuin ohjeessa suositellaan
		(se auttaa tahmaisuuteen nopeammin). Tai kokeile ruokasoodalla
		huuhtelua ennen pesua: 1 ruokalusikka ruokasoodaa ja 250 ml vettä.
		Tämän jälkeen pesu normaalisti.<br />
		-Tai kokeile vihreä savi -syväpuhdistusta hiuksiin: Savimassa
		levitetään puhtaisiin kosteisiin hiuksiin ja annetaan vaikuttaa puoli
		tuntia. Pese sen jälkeen vielä kevyesti shampoopalalla hiukset ja lisää
		lopuksi Aloe Vera Balsam Spray.<br />

		-Voit kokeilla vaahdotusta pesusienellä, jolloin saat nopeasti
		suuremman määrän vaahtoa hiuksiin.
	</p>

	<h3>Tarvitaanko shampoopalan kanssa hoitoainetta?</h3>
	<p>
		Pitkiin hiuksiin suosittelemme aina hoitoainetta, koska pitkien hiusten
		latvat ovat yleensä kuluneemmat ja tarvitsevat siten suojaa. Käytä
		tavallista hoitoainettasi tai Dr Hardmanin Aloe Vera Balsam Sprayta.
		Aloe Vera Balsam Spray palauttaa hiusten luonnollisen happaman pH:n ja
		ehkäisee tahmeutta, jos olet kokenut sitä.
	</p>
	<h4>Dr Hardmanin hiustenhoitotuotteet:</h4>
	<p>
		<a href="/fi/no55-shampoobar">No 55 Shampoo Bar Citrus</a>
		<br /><a href="/fi/no56-aloe-conditioner">No 56 Aloe Vera Balsam Spray</a>
	</p>

	{% include upbox_fi.html %}
	<p><br /></p>
	<span id="vaxtextrakt"></span>
	<h2 class="h1">Kasviuutteet</h2>
	<hr class="primary" />
	<p>
		Kasviuute on kasveista, hedelmistä, kukista ja yrteistä tehty tiiviste.
		Valmistustavat riippuvat raaka-aineesta, mutta käytetyt metodit ovat
		hellävaraisia, jotta ravintoainepitoisuudet säilyvät mahdollisimman
		hyvin. Useimmat kasviuutteet ovat tislattuja tai maseroituja
		(liotettuja/murskattuja) kasvinosia, jotka on uutettu
		vedessä/glyseriinissä ja sitten tiivistetty.
	</p>
	<p>
		Koska tuoreet raaka-aineet eivät säily pitkään vedessä/glyseriinissä,
		joutuvat kaikki tuottajat lisäämään säilöntäaineita uutteisiin. Koska
		uute on tiivistettä ja uutetta on lopputuotteessa noin 1 % tai
		vähemmän, ei lainsäädäntö vaadi, että ainesosat uutteessa mainitaan
		lopputuotteen ainesosaluettelossa.
	</p>
	<p>
		Tämä puolestaan tarkoittaa sitä, että kaikki tuotteet, olivatpa ne
		ekologisia tai ei, jotka sisältävät kasviuutetta, sisältävät hyvin
		todennäköisesti myös pienen määrän säilöntäaineita. Poikkeuksena
		öljypohjainen uute, kuten esim. Dr Hardmaninkin käyttämä aloe vera
		-uute, jota käytämme kaikissa ihoöljyissä ja -voiteissa. Öljy tekee
		uutteesta itsesäilyvän ja siksi näitä uutteita voidaan myydä ilman
		lisättyjä säilöntäaineita. Öljyuutteiden ongelmana on, että kaikkien
		kasvien aktiiviset ainekset eivät välttämättä ole rasvaliukoisia. Tämän
		vuoksi suurin osa kasviuutteista on vesi-/glyseriini- tai
		alkoholipohjaisia.
	</p>
	<p>
		Pieni laskennallinen esimerkki: <br />Kaliumsorbaatti E202 on yleisesti
		käytetty säilöntäaine elintarvikkeissa ja kasviuutteissa. Aikuinen
		ihminen saa kuluttaa kaliumsorbaattia 25 mg/paino kg vuorokaudessa
		eurooppalaisen toksikologisen raja-arvon mukaan. Vihreä tee -uute
		sisältää 900 ppm (parts per million) kaliumsorbaattia. Jos 100 ml
		kasvovettä sisältää 0.5 ml vihreä tee -uutetta, niin lopputuote
		(pullollinen kasvovettä) sisältää 0.45 mg kaliumsorbaattia. Tämä on
		häviävän pieni määrä (vertaa vuorokausiannos 70 kg painavalla
		ihmisellä on 1750 mg kaliumsorbaattia/vrk), mutta valitettavasti lukema
		ei ole nolla. Dr Hardman suosittelee niille ihmisille, jotka eivät
		siedä <b>sitruunahappoa</b>, välttämään tuotteita, joissa on käytetty
		kasviuutteita. Sitruunahappo, <b>kaliumsorbaatti</b> ja
		<b>phenoxyetanoli</b> ovat yleisesti käytettyjä säilöntäaineita (ja
		happamuudensäätöaineita) kasviuutteissa.
	</p>
	<p>
		Joka tapauksessa kasviuutteet tuovat ihonhoitotuotteisiin niin paljon
		hyödyllisiä ominaisuuksia, että joskus on perusteltua käyttää
		glyseriini- ja vesipohjaisia uutteita. Tämä siitäkin huolimatta, että
		lopputuote ei silloin ole täysin säilöntäaineeton (sis. mikroskooppisen
		vähän säilöntäainetta). Dr Hardman ei käytä koskaan säilöntäaineellisia
		aineksia tuotteidensa pääraaka-aineena. Esimerkiksi kukkaisvedet
		(hydrosolit), joita käytämme kasvovesissä, ovat säilöntäaineettomia.
	</p>
	<h3 class="h4">
		Alla listaus Dr Hardmanin tuotteista, joissa myös kaikki mikroainekset
		ovat säilöntäaineettomia
	</h3>
	<ul class="nobullets">
		<li>
			<a href="/fi/no10-pitstop-regular">No 10 Pit Stop Regular Deodorant</a>
		</li>
		<li><a href="/fi/no22-calming-body-butter">No 22 Shea Body Butter</a></li>
		<li><a href="/fi/no24-cocoa-body-butter">No 24 Cocoa Body Butter</a></li>
		<li><a href="/fi/no26-rose-body-butter"> No 26 Rose Body Butter</a></li>
		<li>
			<a href="/fi/no32-serendipity-face-oil">No 32 Serendipity Face Oil</a>
		</li>
		<li><a href="/fi/no44-agedefence-cream">No 44 Age Defence Cream</a></li>
		<li>
			<a href="/fi/no47-pawsandclaws-raw">No 47 Paws and Claws Raw</a>
		</li>
		<li>
			<a href="/fi/no48-pawsandclaws-lavender"
				>No 48 Paws and Claws Lavender</a
			>
		</li>
		<li>
			<a href="/fi/no49-pawsandclaws-orange"
				>No 49 Paws and Claws Vanilla-Orange</a
			>
		</li>
		<li><a href="/fi/no55-shampoobar">No 55 Shampoo Bar Citrus</a></li>
		<li><a href="/fi/no66-red-rescue-mask">No 66 Red Rescue Mask</a></li>
		<li><a href="/fi/no70-lipbalm">No 70 Vanilla-choko Lip Balm</a></li>
		<li><a href="/fi/no71-lipbalm-vitamin">No 71 Vitamin Lip Balm</a></li>
		<li>
			<a href="/fi/no80-gentle-face-wash-powder">No 80 Gentle Face Wash</a>
		</li>
		<li>
			<a href="/fi/no93-hydrating-face-mist">No 93 Hydrating Face Mist</a>
		</li>
	</ul>

	<p><br /></p>
	{% include upbox_fi.html %}
	<span id="musliiniliina"></span>
	<h2 class="h1">Musliiniliina</h2>
	<hr class="primary" />
	<figure>
		<a href="/fi/no80-gentle-face-wash-powder"
			><img
				class="img-fluid profilbild"
				src="/img/DrHardmans_No80_Gentle_Face_Wash_Powder.png"
				alt="Dr Hardman's Gentle Face Wash Powder"
		/></a>
	</figure>
	<p>
		Musliiniliina on valmistettu 100 % puuvillasta ja sen nimi musliini
		tarkoittaa kankaan sidontatapaa. Kasvojen puhdistukseen tarkoitettu
		musliiniliina on hieman karkea, joten se kuorii ihoa hellävaraisesti ja
		tehostaa ihon puhdistamista. Sen avulla myös hankalat paikat, kuten
		nenänpielet ja hiusraja, on helppo puhdistaa. Liina sopii kaikille
		ihotyypeille, mutta sen pienestä karkeudesta johtuen sitä ei suositella
		herkälle silmänympärysiholle eikä erittäin herkkäihoisille.
	</p>
	<p>
		Käyttö: <br />Levitä puhdistusaine kasvoille. Pyyhi meikki ja lika
		hellästi pyörivin liikkein kasvoilta lämpimällä vedellä kostutetulla
		liinalla. Voit tarvittaessa huuhtaista liinaa välillä. Liinalla pesun
		jälkeen kannattaa aina käyttää
		<a href="/fi/no93-hydrating-face-mist">kasvovettä</a> viimeistelemään
		puhdistus. Musliiniliina toimii hyvin myös öljypuhdistusaineen kanssa.
		Käytön jälkeen puhdista liina ja laita kuivumaan. 3-4 käyttökerran
		jälkeen suositellaan liinan konepesua 40 asteessa. Liinan voi myös
		halutessaan laittaa kiehuvaan veteen desinfioitumaan. Jos liinaa käyttää
		päivittäin, kannattaa hankkia 2-3 kappaletta, jotta käytössä on aina
		puhdas liina. <br />Koko: noin 25 x 25 cm.
	</p>
	<h3 class="h4">
		Käytä musliiniliinaa näiden tuotteiden kanssa parhaan tehon ja
		tuloksen saavuttamiseksi
	</h3>
	<ul class="nobullets">
		<li>
			<a href="/fi/no80-gentle-face-wash-powder">No 80 Gentle Face Wash</a>
		</li>
		<li>
			<a href="/fi/no93-hydrating-face-mist">No 93 Hydrating Face Mist</a>
		</li>
	</ul>
	<p><br /></p>
	{% include upbox_fi.html %}

	<span id="drlottahardman"></span>
	<h2 class="h1">Kuka on FT Lotta Hardman?</h2>
	<hr class="primary" />

	<p>
		Olen genetiikan ja populaatio&shy;biologian tohtori Helsingin
		Yliopistosta. Solubiologian maisteri Åbo Akademista, kemia ja biokemia
		sivuaineena. <br />Työskentelen web-kehittäjänä
		<a target="_blank" href="http://www.jco.fi">J&CO Digitalissa</a>
		Pinjaisissa.
	</p>
	<p>
		Etsin pitkään ihonhoitotuotteita, joissa ei olisi ylimääräistä
		kemikaalikuormitusta, tuloksetta. Myös Pohjoismaiset (teolliset)
		luonnonmukaiset ihonhoitotuotteet sisältävät emulgointi- ja
		säilöntäaineita. Haluan hoitaa ihoani tuoreilla korkealaatuisilla
		ihonhoitotuotteilla ilman ylimääräisiä lisäaineita. Sellaisia ei ollut
		tarjolla, joten päätin kehittää niitä itse! Ihosi on suurin elimesi.
		Anna sille hyvää puhdasta ruokaa!
	</p>

	<figure class="spacing-unit">
		<img
			class="img-fluid"
			src="/img/Drlottahardman_goats.jpg"
			alt="Lotta Hardman ja vuohi Per"
		/>
		<figcaption>
			<p class="small">
				Kuva: Janica Söderlund/<a target="_blank" href="https://jco.fi/"
					><span class="small">JCO Digital</span></a
				>
			</p>
		</figcaption>
	</figure>
	{% include upbox_fi.html %}
</article>
