<footer class="site-footer">
  <div class="wrapper padding">
      <a class="logo" href="#page-top">
          <img class="icon" src="/img/logodrhardman200.png" alt="Dr Hardman logo">
          <p class="h1">CLEAN FOOD FOR HEALTHY SKIN</p>
      </a>
      <div class="navi-footer">
          <p class="tel">
              <a href="mailto:lotta.hardman@gmail.com?subject=Hej! Mitt ärende gäller DrHardmans produkter.">lotta.hardman@gmail.com</a><br>
              <a href="tel:0407642085"><i class="fa fa-phone"></i> 040 764 2085<br>
               </a><!--<br>
              Bank: OKOYFIHH<br>
              FI9855496620063937<br>-->
              </p>
      </div>

  </div>
</footer>

{% comment %}
  SuperQuest product finder: Finnish quest on /fi/ pages, Swedish quest on all other pages.
  The front pages (/ and /fi/) show their quest inline instead (index.html, fi/index.html).
{% endcomment %}
<!-- SuperQuest: Dr Hardman product finder (popup) -->
<script data-cookieconsent="ignore" src="https://files.jquest.fi/jquest/v2/jquest-loader.js" type="module"></script>
{% assign url_lang = page.url | slice: 0, 4 %}
{% unless page.url == "/" or page.url == "/fi/" or page.no_quest %}
{% if url_lang == "/fi/" %}
<div class="jquest-app" data-version="v2" data-new-styles="true" data-org-id="chh0Dqo1YFVDij1LVePO" data-game-id="zca5EnAXDo5L4LjpwPcR"></div>
{% else %}
<div class="jquest-app" data-version="v2" data-new-styles="true" data-org-id="chh0Dqo1YFVDij1LVePO" data-game-id="T0bkZnhaY0N9jgwiKPgq"></div>
{% endif %}
{% endunless %}
{% comment %} Animated DRH logo launcher, hidden for now; SuperQuest shows its own popup button. {% endcomment %}
{% comment %}{% include quest-launcher.html %}{% endcomment %}
