<footer class="site-footer">
  <div class="wrapper padding">
      <a class="logo" href="#page-top">
          <img class="icon" src="/img/logodrhardman200.png" alt="Dr Hardman logo">
          <h1 class="">CLEAN FOOD FOR HEALTHY SKIN</h1>
      </a>
      <div class="navi-footer">
          <p class="tel">
              <a href="mailto:lotta.hardman@gmail.com?subject=Hej! Mitt ärende gäller DrHardmans produkter.">lotta.hardman@gmail.com</a><br>
              <a href="tel:0407642085"><i class="fa fa-phone"></i> 040 764 2085<br>
              use for: Siirto, Pivo, MobilePay</a><br>
              Bank: OKOYFIHH<br>
              FI9855496620063937<br>
              </p>
      </div>

  </div>
</footer>


