<header class="site-header">

  <div class="wrapper">
    <a name="page-top" id="page-top"></a>
              <li class=""><a class="pull-right tel" href="../../">På svenska</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="dark-bg-nopict padding">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1 col-sm-12 col-xs-12">
            <a class="logo" href="/fi/">
              <img class="icon middle" src="/img/logodrhardman200.png" alt="Dr Hardman logo">
              <h1 class="middle">DR HARDMAN</h1>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="darkbrown">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1 col-sm-12 col-xs-12">
            <ul class="nav navi">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="padding-left:0;" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tuotteet</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/fi/#tuotteet">KAIKKI TUOTTEET</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/fi/no10-pitstop-regular">No 10 Pit Stop Regular Deodorant</a>
                  <a class="dropdown-item" href="/fi/no22-calming-body-butter">No 22 Shea Body Butter</a>
                  <a class="dropdown-item" href="/fi/no23-citrus-body-butter">No 23 Citrus Body Butter</a>
                  <a class="dropdown-item" href="/fi/no24-cocoa-body-butter">No 24 Cocoa Body Butter</a>
                  <a class="dropdown-item" href="/fi/no25-mango-body-butter"> No 25 Mango Body Butter</a>
                  <a class="dropdown-item" href="/fi/no26-rose-body-butter"> No 26 Rose Body Butter</a>
                  <a class="dropdown-item" href="/fi/no30-clarified-face-oil">No 30 Clarified Face Oil</a>
                  <a class="dropdown-item" href="/fi/no31-youthfulglow-face-oil">No 31 Youthful Glow Face Oil</a>
                  <a class="dropdown-item" href="/fi/no32-serendipity-face-oil">No 32 Serendipity Face Oil</a>
                  <a class="dropdown-item" href="/fi/no44-agedefence-cream">No 44 Age Defence Cream</a>
                  <a class="dropdown-item" href="/fi/no45-monoilotion">No 45 Monoi Lotion</a>
                  <a class="dropdown-item" href="/fi/no47-pawsandclaws-raw">No 47 Paws and Claws Raw</a>
                  <a class="dropdown-item" href="/fi/no48-pawsandclaws-lavender">No 48 Paws and Claws Lavender</a>
                  <a class="dropdown-item" href="/fi/no49-pawsandclaws-orange">No 49 Paws and Claws Vanilla-Orange</a>
                  <a class="dropdown-item" href="/fi/no55-shampoobar">No 55 Shampoo Bar Citrus</a>
                  <a class="dropdown-item" href="/fi/no56-aloe-conditioner">No 56 Aloe Vera Conditioner</a>
                  <a class="dropdown-item" href="/fi/no66-red-rescue-mask">No 66 Red Rescue Mask</a>
                  <a class="dropdown-item" href="/fi/no67-cleansing-and-hydrating-face-mask">No 67 Cleansing & Hydrating Face Mask</a>
                  <!--<a class="dropdown-item" href="/fi/no68-tight-and-bright-face-mask">No 68 Tight & Bright Face Mask Powder</a>-->
                  <a class="dropdown-item" href="/fi/no70-lipbalm">No 70 Vanilla-choko Lip Balm</a>
                  <a class="dropdown-item" href="/fi/no71-lipbalm-vitamin">No 71 Vitamin Lip Balm</a>
                  <a class="dropdown-item" href="/fi/no80-gentle-face-wash-powder">No 80 Gentle Face Wash</a>
                  <a class="dropdown-item" href="/fi/no81-lux-soap">No 81 Lux Soap kasvosaippua</a>
                  <a class="dropdown-item" href="/fi/no90-refreshing-face-mist">No 90 Refreshing Face Mist</a>
                  <!--<a class="dropdown-item" href="/fi/no91-calming-face-mist">No 91 Calming Face Mist</a>-->
                  <a class="dropdown-item" href="/fi/no92-purifying-face-mist">No 92 Purifying Face Mist</a>
                  <a class="dropdown-item" href="/fi/no93-hydrating-face-mist">No 93 Hydrating Face Mist</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hyvä tietää</a>
                <div class="dropdown-menu" id="second">
                  <a class="dropdown-item" href="/fi/hyvatietaa">KAIKKI HYVÄ TIETÄÄ</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/fi/hyvatietaa#bodybutters">Body butters</a>
                  <a class="dropdown-item" href="/fi/hyvatietaa#konserveringsmedel">Ilman säilöntäaineita</a>
                  <a class="dropdown-item" href="/fi/hyvatietaa#emulgeringsmedel">Ilman emulgointiaineita</a>
                  <a class="dropdown-item" href="/fi/hyvatietaa#phytoboosters">Fytoaromaattiset öljyt</a>
                  <a class="dropdown-item" href="/fi/hyvatietaa#shampoobar">Shampoopala</a>
                  <a class="dropdown-item" href="/fi/hyvatietaa#vaxtextrakt">Kasviuutteet</a>
                  <a class="dropdown-item" href="/fi/hyvatietaa#musliiniliina">Musliiniliina</a>
                  <a class="dropdown-item" href="/fi/hyvatietaa#drlottahardman">Kuka on FT Lotta Hardman</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>

</header>
