<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="Tuoreita luonnonmukaisia ihon- ja hiustenhoitotuotteita ilman säilöntä- ja emulgointiaineita. / Färska naturliga hud- och hårvårds&shy;produkter utan onödig kemikalie&shy;belastning." />
  <meta property="og:url"                content="http://drhardman.fi" />
  <meta property="og:type"               content="product.group" />
  <meta property="og:title"              content="Dr Hardman" />
  <meta property="og:description"        content="Tuoreita luonnonmukaisia ihon- ja hiustenhoitotuotteita ilman säilöntä- ja emulgointiaineita. / Färska naturliga hud- och hårvårds&shy;produkter utan onödig kemikalie&shy;belastning." />
  <meta property="og:image"              content="http://drhardman.fi/img/facebooknosto.jpg" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@LottaHardman">
  <meta name="twitter:creator" content="@LottaHardman">
  <meta name="twitter:title" content="DR HARDMAN Clean food for healthy skin!">
  <meta name="twitter:description" content="Tuoreita luonnonmukaisia ihon- ja hiustenhoitotuotteita ilman säilöntä- ja emulgointiaineita. / Färska naturliga hud- och hårvårds&shy;produkter utan onödig kemikalie&shy;belastning.">
  <meta name="twitter:image" content="http://drhardman.fi/img/facebooknosto.jpg">

  <title>Dr Hardman</title>

  <!-- Fonts -->

  <link rel="icon" type="image/png" href="/img/favicon.png">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/js/snow.css">

  <!-- Javascripts -->
  <script src="https://use.typekit.net/shz0rmu.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="https://use.fontawesome.com/b70b2b3afb.js"></script>
  <script defer type="text/javascript" src="/js/jquery-1.12.0.min.js"></script>
  <script defer type="text/javascript" src="/js/snow.js"></script>

</head>
