/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//* DOC STYLES *//
html {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

  body {
    position: relative;
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    h1.slogan {
      text-shadow: 0px 1px 3px rgba(39, 39, 39, 0.65);
    }
  }

  body::before {
    content: "";
    position: fixed;
    z-index: -1;
    display: block;
    inset: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  body#page-error::before {
    background-image: url('../img/bgs/kaktus.jpg');
  }

  body#page-1::before {
    background-image: url('../img/bgs/woman.jpg');

    @media screen and (max-width: $mobile) {
      background-image: url('../img/bgs/vertical_woman.jpg');
      background-position: center top;
    }
  }

  body#body::before {
    background-image: url('../img/bgs/swimming.jpg');
    background-position: center top;
   
    @media screen and (max-width: $mobile) {
      background-image: url('../img/bgs/vertical_swimming.jpg');
    }
  }

  body#face {
    h1.slogan {
      align-self: flex-start;
    }
    &::before {
      background-image: url('../img/bgs/darkgirl.jpg');
      background-position: center top;
     
      @media screen and (max-width: $mobile) {
        background: url('../img/bgs/vertical_darkgirl.jpg');
        background-position: center top;
      }
    }
  }

  body#hands::before {
    background-image: url('../img/bgs/hands-feet-dark.jpg');
    background-position: center top;
   
     @media screen and (max-width: $mobile) {
      background-image: url('../img/bgs/vertical_hands-feet-dark.jpg');
    }
  }

  body#hair::before {
    background-image: url('../img/bgs/hair.jpg');
    background-position: center top;
    
     @media screen and (max-width: $mobile) {
      background-image: url('../img/bgs/vertical_hair.jpg');
    }

  }
  body#hygiene {
    h1.slogan {
      align-self: flex-end;
    }
    &::before{
      background-image: url('../img/bgs/freshandclean.jpg');
      background-position: center top;
     
       @media screen and (max-width: $mobile) {
        background-image: url('../img/bgs/vertical_freshandclean.jpg');
      }
    }
  }
  body#masks::before {
    background-image: url('../img/bgs/fruittable.jpg');
    background-position: center top;
  
     @media screen and (max-width: $mobile) {
      background-image: url('../img/bgs/vertical_fruittable.jpg');
    }
  }

  body#page-10::before {
    background-image: url('../img/bgs/bathroom.jpg');
  }

  body#page-22::before {
    background-image: url('../img/bgs/feather.jpg');
  }

  body#page-23 {
    article {
      background-color: rgba(36, 39, 41, 0.7);
    }
    article h2.faktarutarubrik {
      color: #FFCB05;
    }
    hr.primary {
      border-top: 1px solid #FFCB05;
    }
    &::before {
      background-image: url('../img/bgs/ai-lemon-crop.jpg');
      background-position: center top;
     
       @media screen and (max-width: $mobile) {
        background: url('../img/bgs/ai-lemons.jpg');
      }
    }
  }

  body#page-24 {
    article {
      background-color: rgba(25, 13, 13, 0.7);
    }
    &::before {
      background-image: url('../img/bgs/choko.jpg');
      @media screen and (max-width: $mobile) {
       background-image: url('../img/bgs/vertical_choko.jpg');
       background-position: center top;
     }
    }
  }

  body#page-25::before {
    background-image: url('../img/bgs/greenleaf.jpg');
   
     @media screen and (max-width: $mobile) {
      background-image: url('../img/bgs/vertical_greenleaf.jpg');
    }
  }

  body#page-26 {
    .sloganbox {
      h1.slogan {
        font-size: 2.6rem;
        align-self: flex-start;
        transform: rotate(-5deg);
      }
    }
    &::before {
      background-image: url('../img/bgs/rose.jpg');
      background-position: center top;
     
       @media screen and (max-width: $mobile) {
        background-image: url('../img/bgs/vertical_rose.jpg');
      }
    }
  }

  body#page-30::before {
    background-image: url('../img/bgs/hiding.jpg');
    background-position: center top;
   
     @media screen and (max-width: $mobile) {
      background-image: url('../img/bgs/vertical_hiding.jpg');
    }
  }

  body#page-31::before {
    background-image: url('../img/bgs/water.jpg');
   
     @media screen and (max-width: $mobile) {
      background-image: url('../img/bgs/vertical_water.jpg');
    }
  }

  body#page-32::before {
    background-image: url('../img/bgs/aromatherapy.jpg');
   
     @media screen and (max-width: $mobile) {
      background-image: url('../img/bgs/vertical_aromatherapy.jpg');
      background-position: center top;
    }
  }

  body#page-44::before {
    background-image: url('../img/bgs/iceland.jpg');
   
     @media screen and (max-width: $mobile) {
      background-image: url('../img/bgs/iceland.jpg');
    }
  }

  body#page-45::before {
    background-image: url('../img/bgs/bermuda.jpg');
   
     @media screen and (max-width: $mobile) {
      background-image: url('../img/bgs/vertical_bermuda.jpg');
      background-position: center top;
    }
  }

  body#page-47 {
    h1.slogan {
      color: $blue-color;
      align-self: flex-start;
    }
    &::before {
      background-image: url('../img/bgs/dog.jpg');
      @media screen and (max-width: $mobile) {
       background-image: url('../img/bgs/vertical_dog.jpg');
       background-position: center top;
     }
    }
  }

  body#page-48::before {
    background-image: url('../img/bgs/lavendeloverlay.jpg');
   
     @media screen and (max-width: $mobile) {
      background-image: url('../img/bgs/vertical_lavendeloverlay.jpg');
      background-position: center top;
    }
  }

  body#page-49 {
    article h2.faktarutarubrik {
      color: $light-orange;
    }
    hr.primary {
      border-top: 1px solid $light-orange;
    }
    &::before {
      background-image: url('../img/bgs/orangevanilla.jpg');
      background-position: center top;
     
       @media screen and (max-width: $mobile) {
        background-image: url('../img/bgs/vertical_orangevanilla.jpg');
      }
    }
  }

  body#page-55::before {
    background-image: url('../img/bgs/hair.jpg');
    
     @media screen and (max-width: $mobile) {
      background-image: url('../img/bgs/vertical_hair.jpg');
      background-position: center top;
    }
  }
  body#page-56::before {
    background-image: url('../img/bgs/aloe.jpg');
   
     @media screen and (max-width: $mobile) {
      background-image: url('../img/bgs/vertical_aloe.jpg');
      background-position: center top;
    }
  }
  body#page-66 {
    h1.slogan {
      align-self: flex-start;
    }
    &::before {
      background-image: url('../img/bgs/lighthouse.jpg');
     @media screen and (max-width: $mobile) {
      background-image: url('../img/bgs/vertical_lighthouse.jpg');
      background-position: center top;
      }
    }
  }

  body#page-67::before {
    background-image: url('../img/bgs/trappa2.jpg');
   
     @media screen and (max-width: $mobile) {
      background-image: url('../img/bgs/vertical_trappa2.jpg');
      background-position: center top;
    }
  }

  body#page-70::before {
    background-image: url('../img/bgs/chocolate.jpg');
    
     @media screen and (max-width: $mobile) {
      background-position: center top;
    }
  }
 
  body#page-72::before {
    background-image: url('../img/bgs/poppies.jpg');
   
     @media screen and (max-width: $mobile) {
      background-position: center top;
    }
  }
  body#page-80::before {
    background-image: url('../img/bgs/dewdrops.jpg');
    
     @media screen and (max-width: $mobile) {
      background-position: center top;
    }
  }

  body#page-81 {
    .sloganbox {
      h1.slogan {
        font-size: 2.6rem;
        align-self: flex-start;
        transform: rotate(-5deg);
      }
    }
    &::before {
      background-image: url('../img/bgs/blommasidan.jpg');
   
   
     @media screen and (max-width: $mobile) {
      background-image: url('../img/bgs/vertical_blommasidan.jpg');
      background-position: center top;
      }
    }  
  }

  body#page-93::before {
    background-image: url('../img/bgs/brook.jpg');
    
     @media screen and (max-width: $mobile) {
      background-position: center top;
    }
  }
  body#braattveta::before {
    background-image: url('../img/bgs/soffa.jpg');
   
     @media screen and (max-width: $mobile) {
      background-image: url('../img/bgs/vertical_soffa.jpg');
      background-position: center top;
    }
  }


img {
  image-rendering: -webkit-optimize-contrast;
}

#sitewrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  @media (min-width: $laptop) {
    width: 70%;
    margin: 0 auto;
    max-width: 1253px;
  }

  header.site-header {
    z-index: 4;
    width: 11%;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    @media (max-width: $tablet) {
      width: 15%;
    }

    @media (max-width: $mobile) {
      width: 100%;
      position: relative;
      height: auto;
    }
  }

  .page-content {
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 3;

    @media (max-width: $mobile) {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

//* FONT STYLES *//

p {
  font-weight: 300;
  color: $text-color;
  margin-bottom:1.1rem;
  letter-spacing: 1px;
    &.large-font-size {
      font-size: $large-font-size;
    }
}
p.small, span.small {
  font-size: $small-font-size;
  line-height: 1.1rem;
  letter-spacing: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  font-size: $base-font-size;
  letter-spacing: 1px;
}

a:hover {
  text-decoration: none;
  outline: none;
  color: $blue-color;
}

a:active {
  text-decoration: none;
  color: $blue-color;
}
a:focus {
  outline: none;
  text-decoration: none;
  color: $blue-color;
}

li.active a {
  text-decoration: none;
  color: $blue-color;
}

li {
  color: $light-color;
  font-size: $base-font-size;
}
.text-capitalize {
  text-transform: capitalize;
}

h1 {
  font-family: "bebas-neue",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 4px;
  color: $link-color;
  text-transform: uppercase;
  margin-bottom: 0;
}

h2 {
  font-family: "bebas-neue",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height:3.1rem;
  letter-spacing: 4px;
  color: $link-color;
  text-transform: uppercase;
  margin-bottom: 1rem;
}


h3 {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.2;
  color: $text-color;
  margin-bottom: 1rem;
}

h4 {
  font-weight: 300;
  font-size: 1.4rem;
  color: $text-color;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
}


sup {
  font-size: .6em;
}

hr.primary {
  border-top: 1px solid $blue-color;
  margin-left: auto;
  margin-right: auto;
}

hr.primary, hr.light, hr.dark {
  margin: 0 auto 2rem auto;
  border-bottom: none;
}



//* GENERAL STYLES *//

img.img-fluid {
  width: 100%;
  height: auto;
}
img.img-fluid.small {
  max-width: 240px;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.spacing-unit {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

.padding {
  padding: $base-padding;
  @media (max-width: $mobile) {
    padding: $spacing-unit;
  }
}

.dubbelpadding {
  padding-top: $dubbel-padding;
  padding-bottom: $dubbel-padding;
  padding-left: $base-padding;
  padding-right: $base-padding;
  @media (max-width: $mobile) {
    padding-top: $base-padding;
    padding-bottom: $base-padding;
    padding-left: $spacing-unit;
    padding-right:$spacing-unit;
  }
}

.text-center {
  text-align: center;
}

.white {
  background-color: #ffffff;
}
.black {
  background-color: #000000;
}
.grey {
  background-color: rgba(36, 39, 41, 0.87);

}
.orange {
  color:  $pink;
}


button, .button {
  border: 2px solid $blue;
  border-radius: 5px;
  font-weight: 400;
  font-size: 21px;
  padding: 0.5em 2em;
  box-shadow: none;
  background-color: transparent;
  text-transform: none;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: $light-color;

  &:hover, &:focus {
  background-color: $blue;
    color: $light-color;
    outline: none;

  }
  a {
    color: $text-color;

  }
}


//* HEADER STYLES *//


.site-header .wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  .logo img.logoimg {
    max-width: 80px;
    padding-top: $base-padding;
    padding-bottom: $base-padding;
    @media (max-width: $mobile) {
      padding-bottom: 0;
      padding-top: 0.8rem;
      max-width: 40px;
    }
  }
  .logonamn img.logonamnimg {
    max-width: 40px;
    padding-bottom: $base-padding;
    @media (max-width: $mobile) {
      display: none;
    }
    @media (max-height: 500px) {
      display: none;
    }

  }
  a.namn {
    display: none;
    @media (max-width: $mobile) {
      display: block;
    }
  }

  //* NAV STYLES *//

  nav ul.navi {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-top: $spacing-unit;
    @media(max-width: $mobile) {
      padding-top: $base-padding;
    }
    li.nav-item a {
      font-size: $small-font-size;
    }
  }

}

//* BREADCRUMB STYLES *//

  .sidnavi >li+li:before {
    content: "/";
    display: inline-block;
    color: $blue-color;
    font-weight: 600;
  }

  li.active  a {
    color: $blue-color;
    font-weight: 600;
  }


  ul.sidnavi {
   margin-left: 20px;
    li.listsidnavi {
    padding-right: 0;
    font-weight: 600;
    }
  }


  //* SLOGAN BOX STYLES *//

.sloganbox {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  h1.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $light-color;
    font-size: 4rem;
    font-family: flood-std, sans-serif;
    @media (max-width: $tablet) {
      font-size: 3rem;
      line-height: 3.2rem;
      max-width: 90%;
      margin: 0 auto;
    }
  }
  @media (max-width:$tablet) {
    max-width: 90%;
    margin: 0 auto;
  }
  @media (max-width:$mobile) {
    max-width: 100%;
  }
}

 .sloganbox#sloganbox10 {
    min-height:50vh;
    h1.slogan {
      transform: rotate(-10deg);
      @media (max-width: $mobile) {
        transform: rotate(-5deg);
      }
    }
   @media (max-width:$tablet) {
     min-height:35vh;
   }
   @media (max-width: $mobile) {
     min-height:20vh;
   }
  }

.sloganbox#sloganboxindex {
  min-height: 60vh;
  h1.slogan {
    transform: rotate(-10deg);
    @media (max-width: $mobile) {
      transform: rotate(-5deg);
      font-size: 2rem;
    }
  }
  @media (max-width: $tablet) {
    min-height: 20vh;
  }
}
  .sloganbox#sloganboxlow {
    min-height:30vh;
    h1.slogan {
      transform: rotate(-10deg);
      @media (max-width: $mobile) {
        transform: rotate(-5deg);
        font-size: 2rem;
      }
    }
    @media (max-width:$tablet) {
      min-height:20vh;
    }
}

//* FLIP CARD STYLES *//

.produktkort {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  grid-gap: 1rem;
  padding: 3rem 0;
  @media (max-width: $mobile) {
    justify-content: space-around;
    padding: 1.5rem 0;
  }
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 210px;
  height: 210px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  overflow: hidden;
  @media(max-width:$tablet) {
    width: 195px;
    height: 195px;
  }
  @media(max-width:$mobile) {
    width: 180px;
    height: 180px;
  }
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition:0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  img {
    max-height: 200px;
    @media(max-width:$tablet) {
      max-height: 195px;
    }
    @media(max-width:$mobile) {
      max-height: 185px;
    }
  }
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  z-index: 2;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  position: relative;
  border-radius: 6px;
  h1 {
    color: $link-color;
    padding-top: 20px;
    line-height: 4rem;
    letter-spacing: 2px;
  }
  p {
    color: $link-color;
  }
}
.flip-card-front.ten, .card.ten {
  background-color: $grey;
  &:hover {
    background-color: rgba(39, 39, 39, 0.8);
  }
}
.flip-card-front.twenty2 {
  background-color: $grey;
  &:hover {
    background-color: rgba(39, 39, 39, 0.8);
  }
}
.flip-card-front.twenty3 {
background-color: $yellow;
&:hover {
  background-color: rgba(255, 203, 5, 1);
  }
}
.flip-card-front.twenty4 {
background-color: $brown;
&:hover {
  background-color:rgba(140, 113, 93, 0.85);
  }
}
.flip-card-front.twenty5 {
background-color: $green;
}
.flip-card-front.twenty6 {
background-color: $pink;
}
.flip-card-front.thirty {
background-color: $green;
}
.flip-card-front.thirty1 {
background-color: $lightblue;
}
.flip-card-front.thirty2 {
background-color: $purple;
&:hover {
  background-color: rgba(124, 119, 173, 0.91);
  }
}
.flip-card-front.forty4 {
background-color: $grey;
&:hover {
  background-color: rgba(39, 39, 39, 0.8);
}
}
.flip-card-front.forty5, .card.forty5 {
background-color: $cherry;
&:hover {
  background-color: rgba(209, 31, 92, 0.75);
}
}
.flip-card-front.forty7 {
background-color: $dark-color;
}
.flip-card-front.forty8, .card.forty8 {
background-color: $purple;
&:hover {
  background-color: rgba(124, 119, 173, 0.91);
}
}
.flip-card-front.forty9 {
background-color: $light-orange;
}
.flip-card-front.fifty5, .card.fifty5 {
background-color: $yellow;
&:hover {
  background-color: rgba(255, 203, 5, 1);
}
}
.flip-card-front.fifty6 {
background-color: $pink;
}
.flip-card-front.sixty6 {
background-color: $red;
}
.flip-card-front.sixty7 {
background-color: $cherry;
&:hover {
  background-color: rgba(209, 31, 92, 0.75);
}
}
.flip-card-front.seventy {
background-color: $dark-color;
}
.flip-card-front.seventy1 {
background-color: $orange;
}
.flip-card-front.eighty {
background-color: $orange;
}
.flip-card-front.eighty1, .card.eighty1 {
background-color: $blue;
}
.flip-card-front.ninty3 {
background-color: $cherry;
&:hover {
  background-color: rgba(209, 31, 92, 0.75);
}
}


/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}

.produktkort-singel {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-bottom: $base-padding;

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    .flip-card-front, .flip-card-back {
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      img {
        max-height: 300px;
        @media(max-width:$tablet) {
          max-height: 295px;
        }
        @media(max-width:$mobile) {
          max-height: 285px;
        }
      }
    }
  }
}


img.cert {
  max-width: 70%;
  display:block;
  margin: 0 auto;
  @media(max-width:$mobile) {
    max-width: 100%;
  }
}

// INDEX PAGE PRODUKTGRUPPER //

.produktgrupp {
  @media(max-width:$mobile) {
    padding: 0 1rem;
  }
  .card {
    text-align: center;
    border-radius: 5px;
    margin-bottom: $base-padding;
    padding: 0.5rem;
  }
}

  //* ARTICLE STYLES *//

  article {
    z-index: 5;
    header h1 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    h2.om {
      padding-top: $base-padding;
    }
    img.img-fluid.produktprofilbild {
      max-width: 300px;
    }
    h2.pris{
      font-family: "bebas-neue",sans-serif;
      font-style: normal;
      font-weight: 400;
      color: $link-color;
    }
    h2.faktarutarubrik, h1.faktarutarubrik {
      font-family: flood-std, sans-serif;
      letter-spacing: 0;
      margin-bottom: 1.5rem;
      padding-top: $base-padding;
    }
    ul.ingredienslista {
      list-style: none;
      padding-bottom: $base-padding;
      li {
        color: $light-color;
      }
    }
    p.ingredienser {
      color:  $light-color;
    }
    ul.plus {
      list-style-image: url('../img/plus.png');
      padding-bottom: 1rem;
      padding-left: $spacing-unit;
      li {
        color: $text-color;
      }
    }
    ul.minus {
      list-style-image: url('../img/minus.png');
      padding-left: $spacing-unit;
      padding-bottom: 1rem;
      li {
        color: $text-color;
      }
    }

  }



  // BRA ATT VETA -SIDAN //
  #braattveta {
    nav {
      ul.nobullets {
        padding-left: $base-padding;
        padding-bottom: $base-padding;
        list-style: none;
        li {
          color: $light-color;
        }
      }

    }
    ul.nobullets {
      list-style: none;
    }
    p b {
      color: $pink;
    }
    ul.plus {
      list-style-image: url('../img/plus.png');
      padding-bottom: 1rem;
      padding-left: $spacing-unit;
      li {
        color: $text-color;
      }
    }
    ul.minus {
      list-style-image: url('../img/minus.png');
      padding-left: $spacing-unit;
      padding-bottom: 1rem;
      li {
        color: $text-color;
      }
    }
  }


  ul.sidnavi {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    margin-bottom: 0px;

    & > li {
      display: inline;
      padding-right: 30px;

      & > a {
        font-size: $small-font-size;

        &:active {
          color: $blue-color;
        }
        &:hover {
          color: $blue-color;
        }
        &:focus {
          color: $blue-color;
          text-decortion: none;
        }
      }
    }
  }


  .listsida a {
    font-size: 21px;
    &.active a {
      color: $dark-color;
    }
    &:hover {
      color: $blue-color;
    }
    &:focus {
      color: $blue-color;
      text-decortion: none;
    }
  }


  img.img-fluid.profilbild {
    max-width: 250px;
  }

  h2.faktarutarubrik, h1.faktarutarubrik {
    font-family: flood-std, sans-serif;
    letter-spacing: 0;
    margin-bottom: 1.5rem;
    padding-top: $base-padding;
    transform: rotate -3 deg;
    color: $blue-color;
  }


  //* FOOTER STYLES *//
  footer {
    background-color: rgba(0,0, 0, 0.8);
    margin-top: 4rem;
    .wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-end;
      p {
        margin-bottom: 0;
      }
      img.icon {
        display: inline-block;
        max-width: 60px;
      }
      @media(max-width:$mobile) {
        footer h1 {
          font-size: 22px;
        }
      }
    }

  }

  //* JUMPTARGET STYLES *//
  .jumptarget:before {
    content: "";
    display: block;
    /*height: 80px;  fixed header height*/
    /*margin: -80px 0 0; negative fixed header height */
  }

  .upbox a.up  {
    display: flex;
    justify-content:flex-end;
    padding: $spacing-unit;
  }
  .upbox i {
    padding-right: 5px;
    padding-top: 2px;
  }

  //* MEDIA QUERIES *//

  @include media-query($laptop) {
    .faktaruta {
      margin-bottom: 16px;
    }

  }

  @include media-query($tablet) {
    p, a, li {
      font-size: $small-font-size;
    }

    h1, .hero h1, .buy-box h1, h2.pris, h2 {
      font-size: 2rem;
      line-height: 2.4rem;
      margin-bottom: 0.5rem;
    }

  }

  @include media-query($mobile) {

    .padding {
      padding-top: $spacing-unit;
      padding-bottom: $spacing-unit;
    }

    .dubbelpadding {
      padding-top: $base-padding;
      padding-bottom: $base-padding;
    }

    .fb-like {
      max-width: 98%;
    }
    h3 {
      font-size: 1.4rem;
    }
    aside.fb {
      padding-left: 1rem;
    }

  }





