<!DOCTYPE html>
<html  lang=”fi-FI”>

  {% include head.html %}

  <body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-82286633-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '172168183195524',
        xfbml      : true,
        version    : 'v2.8'
      });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fi_FI/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

    <a class="jumptarget" name="page-top" id="page-top"></a>

    {% include header_fi.html %}

    <div class="page-content">
      <div class="wrapper">

        {{ content }}

      </div> <!-- wrapper -->
    </div> <!-- page content -->

    {% include footer.html %}

  </body>

</html>
